
    <main>

    <form class="tripform" action="/users" method="get">
      <h1>Please Log In</h1>

      <fieldset class="username">
          <h2>Username</h2>
          <input type="text" size="30" name="username" placeholder="Who are you?" autofocus required>
      </fieldset>

      <fieldset class="password">
          <h2>Password</h2>
          <input type="password" size="30" name="password" placeholder="sh..it's a secret" required>
      </fieldset>

      <input type="submit" value="Login">

    </form>


    </main>

    </body>
